<!doctype html>
<html lang="en">
	<head>
		<title>Slack Dice Roller</title>
		<link rel="stylesheet" type="text/css" href="/css/foundation.min.css" />
		<script type="text/javascript" src="/js/foundation.min.js"></script>
	</head>
	<body>
		<h1>Slack Dice Roller</h1>
		<%= yield %>
	</body>
</html>